body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #C9D2D1;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1, h2 {
    text-align: center;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.image-item {
    position: relative;
    width: 30%;
    max-width: 300px;
    margin-bottom: 20px;
}

.image-item img {
    display: block;
    width: 100%;
    height: auto;
}

.image-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'platefont';
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent; /* Usuwa pasek na dole */
    padding: 0; /* Usuwa dodatkowe odstępy */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowanie całego formularza */
    justify-content: center;
    width: 100%;
    max-width: 400px; /* Maksymalna szerokość formularza */
    margin: 0 auto; /* Wyśrodkowanie formularza */
}