<!-- templates/search.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
        @font-face {
            font-family: platefont;
            src: url('static/fonts/arklatrs-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        .image-item a {
            font-family: 'platefont';
        }
    </style>
</head>
<body>
    <h1>Pass the plate's code below</h1>
    <form method="get" action=".">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    
    {% if results %}
        <h2>Search Results:</h2>
        <div class="image-container">
            {% for plate in results %}
                <div class="image-item">
                    <img src="{% static 'img/plate.jpg' %}">
                    <a href="{% url 'plate_details' plate.pk %}">{{ plate }}</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</body>
</html>
