<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ plate }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>{{ plate }}</h1>
    <form method="POST" action="{% url 'pay' pk=plate.pk %}">
        {% csrf_token %}
        <p><strong>Code:</strong> {{ plate }}</p>
        <p><strong>Arrived at:</strong> {{plate.arrived_at}}</p>
        <p><strong>Now: </strong>{{ now }}</p>
        <p><button type="submit">Pay for a parking</button></p>
    </form>
    <a href="{% url 'search' %}">Back to search</a>
</body>
</html>
